@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="chapter"],
section[epub|type~="dedication"],
section[epub|type~="part"] > h2{
	page-break-after: always;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}
