@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="chapter"],
section[epub|type~="dedication"],
section[epub|type~="part"] > h2{
	page-break-after: always;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] br{
	display: none;
}
